@font-face {
    font-family: 'Rubik-Bold';
    src: url('Rubik/Rubik-Bold.ttf')
}
@font-face {
    font-family: 'Rubik-Regular';
    src: url('Rubik/Rubik-Regular.ttf')
}
@font-face {
    font-family: 'Rubik-Italic';
    src: url('Rubik/Rubik-Italic.ttf')
}

